#comments-container {
  width: 50%;
  display: inline-block;
  text-align: left;
  height: 250px;
  overflow: auto;
  border: solid;
  padding: 10px;
}

#comment-section {
  text-align: center;
}

#comment-settings {
  display: inline-block;
  width: 50%;
  border: solid;
}

#comment-settings div {
  padding: 10px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 20px;
  font-weight: 200;
}

#delete-comment {
  display: none;
}

header {
  background-color: lightblue;
}

#images {
  margin: auto;
  width: 90%;
}

#images img {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 640px;
  max-width: 654px;
}

#post-comment {
  display: none;
}
